<h2><%="#{@card.question}"%></h2>
<form action="/card" method="post">
  <input type="text" name="guess">
  <input type="hidden" name="id" value="<%= @card.id %>">
<p><%= @guess %></p>
  <input type="submit" value="Make A Guess!">
</form>
<form action="/exit" method= "get">
  <input type="submit" value="End Game">
</form>
