<p><%= @guess %></p>

<h1 id='card_title'><%="#{@card.question}"%></h1>
<h3 class='card_box'>Hit Me With Your Best Shot</h3>
<div id='card'>
<h3 class='card_box'>
<form action="/card" method="post">
  <input type="text" name="guess" id='guess_text'>
  <input type="hidden" name="id" value="<%= @card.id %>">
  <input id='card_submit' type="submit" value="Submit">
</form>
</h3>
</div>
<!-- <form action="/exit" method= "get">
  <input type="submit" value="End Game">
</form>
 -->

 <a href='/exit'>End Game</a>
