<h1 class='name_error'><%= error_message(@error) %></h1>
<h3 class='try_another'>Please Try Another<h3>
<h1 id ='user_title'>Your on Deck</h1>
<img id ='bat' src='/bat.jpg' width='153.6' height='115.2'></img>
<h3 id='under_bat'>Create a Username and Password</h3>
<form id='create_form' action='/create_user' method='post'>
  <input class='login' type='text' name='name' value='Username' onFocus="this.value=''">
  <input class='login' type='password' name='password' value='Password' onFocus="this.value=''">
  <br>
  <input id='user_submit' type='submit' value='Create Your Account'>
</form>
