<img id='soldier' src='/soldier.bmp' height='100' width='100'>
<h1 id='title'>Squirrel Cards</h1>
<p id='quotes'>- Aren't we all just squirrels lookin' for a nut?</p>
<form action='/login' method='post'>
  <input class='login' type='text' name='name' value='Username' onFocus="this.value=''">
  <input class='login' type='password' name='password' value='Password' onFocus="this.value=''">
  <br>
  <a class='create' href='/create_user'>Create an Account</a>
  <input id='submit' type='submit' value='Login'>
</form>
