<div class="container">
  <h1>Squerral Cards</h1>
  <h3>Please enter a username</h3>
  <form action="/login" method="post">
    <input type="text" name="username">
    <input type="submit" value="Login">
  </form>
</div>
