<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel='icon' type='image/ico' href='/squirrel.ico'
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Squirrel Cards</title>
</head>
<body>
  <div class="top-nav">
    <h1 id='nav_title'>Squirrel Cards</h1>
    <ul class="nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </div>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
